@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
}

a {
  text-decoration: none;
  color: #000;
}

p {
  line-height: 1.7;
}

ul {
  list-style: none;
}

li {
  line-height: 2.2;
}

h1,
h2,
h3 {
  font-weight: 600;
  margin-bottom: 10px;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 60px;
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header ul li {
  margin-left: 20px;
}

.header ul li a {
  display: flex;
  align-items: center;
}

.header ul li a:hover {
  color: #777;
}

.header ul li a svg {
  margin-right: 5px;
}

.heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 50px;
  padding: 0 20px;
}

.heading p {
  color: #828282;
}

.form-group {
  margin-bottom: 10px;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
}

.form-group label {
  text-align: left;
  display: block;
  margin: 0 0 5px 3px;
}

.form-control {
  text-align: left;
  font-weight: bold;
  line-height: 1.1;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
  padding-bottom: 0.1em;
}

.btn svg {
  margin-right: 8px;
}

.btn-reverse {
  background: #fff;
  color: #000;
}

.btn-block {
  width: 100%;
  margin-bottom: 20px;
}

.btn:hover {
  transform: scale(0.98);
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #ffffff;
  margin: 20px 0;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #333;
}

thead th {
  background-color: #333;
  color: #ffffff;
  text-align: left;
  padding: 12px 15px;
  border-bottom: 2px solid #333;
  font-weight: bold;
  text-align: center;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

tbody td {
  padding: 10px 15px;
  border-bottom: 1px solid #ddd;
}

tbody tr:hover {
  background-color: #e0e0e0;
}

tfoot td {
  background-color: #f9f9f9;
  padding: 10px 15px;
  border-top: 2px solid #333;
  font-weight: bold;
}

form {
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #333;
}

fieldset {
  border: none;
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.info-field {
  background-color: #f9f9f9;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-bottom: 15px;
}

input[type="number"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-bottom: 15px;
}

textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-bottom: 15px;
}

button {
  background-color: #333;
  color: #ffffff;
  padding: 10px 15px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 14px;
}

button:hover {
  background-color: #444;
}

input[type="number"]:focus,
textarea:focus {
  border-color: #0044cc;
  outline: none;
}

.login-container {
  background-color: #ffffff;
  padding: 30px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

fieldset {
  border: none;
  margin-bottom: 20px;
}

legend {
  font-size: 25px;
  font-weight: bold;
  color: #101010;
  margin-bottom: 20px;
  text-align: center;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  text-align: left;
}

input[type="number"],
input[type="password"],
input[type="text"],
input[type="date"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-bottom: 15px;
  font-size: 14px;
}

.radio-group {
  margin-bottom: 20px;
  text-align: left;
}

.radio-group label {
  display: inline-block;
  margin-right: 10px;
  font-weight: normal;
}

input[type="radio"] {
  margin-right: 5px;
  height:15px;
  width:15px;
  vertical-align: middle;
}

input[type="submit"] {
  background-color: #0044cc;
  color: #ffffff;
  padding: 10px 15px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 14px;
}

input[type="submit"]:hover {
  background-color: #003399;
}

input[type="number"]:focus,
input[type="password"]:focus,
input[type="text"]:focus,
input[type="date"]:focus {
  border-color: #0044cc;
  outline: none;
}

input[type="number"]:hover,
input[type="password"]:hover,
input[type="text"]:hover,
input[type="date"]:hover {
  border-color: #0044cc;
  outline: none;
}

.profile-container {
  background-color: #ffffff;
  padding: 30px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
  margin: 0px auto;
}

.profile-header {
  font-size: 25px;
  font-weight: bold;
  color: #000;
  margin-bottom: 20px;
}

.profile-field {
  margin-bottom: 15px;
}

.profile-field label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: left;
}

.profile-field div {
  background-color: #f9f9f9;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
  text-align: left;
}

.form-container {
  background-color: #ffffff;
  padding: 30px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  text-align: center;
  margin: 0 auto;
}

fieldset {
  border: none;
  margin-bottom: 20px;
}

legend {
  font-size: 20px;
  font-weight: bold;
  color: #101010;
  margin-bottom: 20px;
  text-align: center;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  text-align: left;
}

select,
input[type="number"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-bottom: 15px;
  font-size: 14px;
}

select:focus,
input[type="number"]:focus {
  border-color: #0044cc;
  outline: none;
}
